
*{
    font-family: 'adobe arabic';
    src: url('path/to/adobe-arabic.woff2') format('woff2'),
    url('path/to/adobe-arabic.woff') format('woff');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #752bc5;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    top: 0;
    direction: rtl;
}

.logo{
    text-decoration: none;
    color: #752bc5;
    font-weight: 700;
    font-size: 1.9em;
}

.navigation a{
    color: #752bc5;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #993fff;
}


body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    direction: rtl; /* اتجاه النص من اليمين لليسار */
    margin: 0;
    padding: 60px 0 0; /* إضافة حشوة أعلى الجسم لتجنب تغطية المحتوى */
}





section {
    background: #fff;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

.footer {
    background-color: #000016;
    color: #ffffff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    direction: rtl; 
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    padding: 0 12px 0 0;
}

.footer-title span {
    color: #ffffff;
}

.footer .social-icons a{
    font-size: 1.4em;
    padding: 0 12px 0 0;
}

.social-icon a {
    color: #ffffff;
    font-size: 1.4em;
    padding-left: 20px;
    direction: rtl; 
}

@media only screen and (max-width: 768px) {
    .navigation a {
        font-size: 1.2em; /* تقليل حجم الخط على الشاشات الصغيرة */
        padding-left: 10px; /* تقليل الحشوة */
    }

    .logo {
        font-size: 1.5em; /* تقليل حجم الخط */
    }
    
    header {
        padding: 10px 20px; /* تقليل الحشوة */
    }
}